html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
input {
    font-size: 10px;
    font-family: $mainFont;
}

h1,
h2,
h3 {
    font-family: $headerFont;
}

a {
    text-decoration: none;
    color: $darkColor;
    cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
