// colors
$white: #fff;
$darkColor: #000;
$accentColor: #4ba87b;
$greyColor: #dbdbdb;

// font
$mainFont: "Raleway", sans-serif;
$headerFont: "PlayFair", sans-serif;

//screens
$landscape: "min-width: 576px";
$tablet: "min-width: 767px";
$desktop: "min-width: 1024px";
$projector: "min-width: 1200px";

// shadows
$mainShadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
