.feature {
	display: flex;
	flex-direction: column;
	width: 20.9rem;
	background-color: $white;

	@media ($desktop) {
		width: 32rem;
	}

	&__image {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__text {
		padding: 1.6rem 1.9rem;

		@media ($desktop) {
			padding: 2.6rem 3rem;
		}
	}

	&__descr {
		@include p1();
		margin-bottom: 1rem;

		@media ($desktop) {
			font-size: 1.6rem;
			line-height: 26px;
		}
	}

	&__link {
		font-weight: 800;
		color: $accentColor;
		font-size: 1.2rem;
		line-height: 14px;

		@media ($desktop) {
			font-size: 1.6rem;
			line-height: 19px;
		}
	}
}
