.logo {
  display: flex;
  align-items: center;

  &__image {
    width: 4rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
    margin-right: 1.1rem;

    @media ($desktop) {
      width: 6rem;
      height: 3rem;
      margin-right: 1.4rem;
    }
  }

  &__text {
    font-size: 2.2rem;
    line-height: 26px;
    font-weight: 900;

    @media ($desktop) {
      font-size: 3.5rem;
      line-height: 41px;
    }
  }
}
