.brands {
  margin-bottom: 5.8rem;

  @media ($tablet) {
    margin-bottom: 9.5rem;
  }

  @media ($desktop) {
    margin-bottom: 14.6rem;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    @media ($tablet) {
      max-width: 62.7rem;
    }

    @media ($desktop) {
      max-width: 95.4rem;
    }
  }

  &__title {
    @include h3();
    margin-bottom: 3.4rem;
    width: 50%;
    text-align: center;

    @media ($desktop) {
      margin-bottom: 6rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 4rem;
    row-gap: 2.9rem;

    @media ($tablet) {
      grid-template-columns: repeat(5, auto);
      column-gap: 4rem;
      row-gap: 0;
    }
  }

  &__list-item {
    display: flex;
    justify-content: center;
    grid-column: 1 span;
    height: 4.8rem;

    &:last-child {
      grid-column: 2 span;

      @media ($tablet) {
        grid-column: unset;
      }
    }

    @media ($tablet) {
      grid-column: unset;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
