.hero {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 1.8rem;
  overflow: hidden;

  @media ($tablet) {
    padding-top: 6.7rem;
    padding-bottom: 9.7rem;
  }

  @media ($desktop) {
    padding-top: 10.3rem;
    padding-bottom: 14.9rem;
  }

  &__container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 100;

    @media ($tablet) {
      display: block;
      margin: 0;
      max-width: 31.5rem;
    }

    @media ($desktop) {
      max-width: 48.9rem;
    }
  }

  &__links {
    display: flex;
    justify-content: center;

    @media ($tablet) {
      display: block;
    }
  }

  &__title {
    @include h1();
  }

  &__descr {
    @include p1();
    margin-bottom: 1.6rem;

    @media ($tablet) {
      margin-bottom: 2.5rem;
    }

    @media ($desktop) {
      margin-right: 3.5rem;
    }
  }

  &__link {
    @extend %btn;

    &:not(:last-child) {
      margin-right: 1.4rem;

      @media ($tablet) {
        margin-right: 2.9rem;
      }

      @media ($desktop) {
        margin-right: 4.5rem;
      }
    }
  }

  &__link--dark {
    @extend %btn--dark;
  }

  &__link--border {
    @extend %btn--border;
  }

  &__image {
    position: absolute;
    right: 1rem;
    top: 5rem;
    max-width: 30rem;
    z-index: -100;
    filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));

    @media ($tablet) {
      top: 0;
      max-width: 44.5rem;
      right: 2.9rem;
    }

    @media ($desktop) {
      max-width: 68rem;
      right: 1rem;
    }
  }

  &__circle-1 {
    display: none;

    @media ($desktop) {
      @include circle();
      display: block;
      left: -13.3rem;
      top: -1rem;
    }
  }

  &__circle-2 {
    display: none;

    @media ($tablet) {
      @include circle(0.7rem);
      display: block;
      left: 1rem;
      bottom: 6rem;
    }

    @media ($desktop) {
      @include circle();
      left: -3rem;
      bottom: 8rem;
    }
  }

  &__circle-3 {
    display: none;

    @media ($tablet) {
      @include circle();
      display: block;
      left: 36rem;
      bottom: -7rem;
    }

    @media ($desktop) {
      @include circle(1.5rem);
      left: 53rem;
      bottom: -13rem;
    }
  }

  &__circle-4 {
    display: none;

    @media ($desktop) {
      @include circle();
      display: block;
      right: -8rem;
      top: -7rem;
    }
  }
}
