@import "./utils";
@import "./components";
@import "./layout";

.container {
  max-width: 1118px;
  padding: 0 1rem;
  margin: auto;

  @media ($tablet) {
    padding: 0 2.9rem;
  }

  @media ($desktop) {
    padding: 0 1rem;
  }
}
